<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
  </head>
  <body>
  <p>Dear Sir,</p>
  <p>Greetings for the day!!</p>
  
  
    
    <p> Congratulations you have won the project {{ProjectName}} with OrderNumber : {{OrderNo}}</p>
    
    <p>Have a good day!!</p>
     <p>Thanks & Regards,</p>
     <p>JB GLASS</p>
  </body>
</html>



