<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
  </head>
  <body>
  <p>Dear Sir,</p>
  <p>Greetings for the day!!</p>
  
  
    
    <p> Congratulations {{Associate}}, you have won the project {{ProjectName}} with OrderNumber : {{OrderNo}}</p>
    <p>Currently advance received and the project is WIN.<p>

    <p>Click on following link to get Ledger Details </p>

    <a href="http://3.109.31.86/ledgerdetail/{{OrderSerial}}">Ledger Details</a>
  
    
    <p>Have a good day!!</p>
     <p>Thanks & Regards,</p>
     <p>JB GLASS</p>
  </body>
</html>
