<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
  </head>
  <body>
  <p>Dear Team,</p>
  <p> A new architect has been added. Following are details : 
    
  </p>
  <p>Architect Name : {{CompanyName}}</p>
  <p>Address : {{AddressLine1Con}},{{AddressLine2Con}},{{AddressLine3Con}}</p>
  



  

     <p>Thanks & Regards,</p>
     <p>JB GLASS</p>
  </body>
</html>